<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerApp.Properties.Settings.GlobalHyperConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=GlobalHyper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>